/*
  Playlist
*/

.playlist {
  height: 100%;
}

.playlist .playlist__content {
  position: relative;
  height: 40vh;
}

.playlist .playlist__head {
  background: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.playlist img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.playlist .playlist__input {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*
  Player
*/
.player {
  height: 100%;
}

.player .player__slides {
  max-height: 45%;
}

/*
  App
*/

.app .app__content {
  height: 91vh;
}

.app .app__segment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .app__segment-inner {
  border-radius: 8px;
  width: auto;
}